* {
	margin: 0;
	padding: 0;
}

.homeContainer {
	background-color: rgb(68, 68, 156);
	width: 100vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.inputBox {
	margin: 15px;
	border: none;
	border-radius: 5px;
	width: 10vw;
	height: 5vh;
	text-align: center;
}

.formBox {
	background-color: yellow;
	width: 50vw;
	display: flex;
	justify-content: center;
	justify-content: space-around;
	/* background-color: red; */
}

.buttons {
	/* background-color: yellow; */
	width: 30vw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.buttons .Button {
	background-color: red;
	border: none;
	border-radius: 60px;
	width: 10vw;
	height: 5vh;
	cursor: pointer;
	text-align: center;
}
.buttons a {
	color: white;
	text-decoration: none;
}
